left {float: left; 
	width: 50%;}
right {float: right;
	width: 50%;}

.navbar
	{
		background-color: #7BE7D2;
		padding: 0 !important;
		border: 10px black;
	}
img{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.cost{
	width: 65%;
}
.quantity{
	width: 65%;
}
#goal {
	text-align: center;
}